{% extends "base.html" %}
{%block content%}

    {% for deep, post in format_posts%}
        {%if deep > 0%}
            <div class="col-md6 border rounded">
                <h2 style="margin-left: {{100 * (deep-1)}}px;">{{post.title}}</h2>
                <img src={{post.files}} alt="нет картинки" width="100" style="margin-left: {{100*(deep-1)}}px;">
                <div style="margin-left: {{100 * (deep-1)}}px;">
                    {{post.content}}
                </div>
            </div>
        {%endif%}
    {% endfor %}
{%endblock%}
